@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap");

:root {
    --var_bg: transparent;
    --var_c1: rgb(34, 139, 34);
    --var_c2: #252b59;
    --var_c3: #148d8d;
    --var_b1: rgb(88, 189, 88);
    --var_b2: #3f54f7;
    --var_b3: #23b1b1;
    --var_c_txt: white;
    --var_txt: gray;
    --var_div: #aaa;
    --time: 500ms;
}

#bg {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-attachment: fixed;
    /* Specify the background image to be used */
    background-size: auto;
    /* Specify the background image */
    opacity: 0.2;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
